<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>S</key>
  <string>S_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>z</key>
  <string>z.glif</string>
</dict>
</plist>
