<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>740</integer>
    <key>descender</key>
    <integer>-210</integer>
    <key>familyName</key>
    <string>Acrata_Beta_1</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>DK1Au7Y6gs</string>
        <key>name</key>
        <string>LC_Serif_bottom</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>64</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Us8EJZBIuh</string>
        <key>name</key>
        <string>LC_serif_top</string>
        <key>x</key>
        <integer>-200</integer>
        <key>y</key>
        <integer>480</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>uANHJ2bKVl</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>84</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>A5xRX8QaG2</string>
        <key>name</key>
        <string>UC_Serif_top</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>676</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>FzIP140TNm</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>656</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>BWIe6POlcS</string>
        <key>name</key>
        <string>LC_wedge_top</string>
        <key>x</key>
        <integer>-300</integer>
        <key>y</key>
        <integer>454</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2020/07/30 05:03:19</string>
    <key>openTypeHeadFlags</key>
    <array/>
    <key>openTypeNameCompatibleFullName</key>
    <string>Acrata_Beta_1 Regular</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Acrata_Beta_1</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>100</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>750</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>250</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.04</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-18</integer>
      <integer>0</integer>
      <integer>540</integer>
      <integer>558</integer>
      <integer>740</integer>
      <integer>758</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>Acrata_Beta_1-Regular</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Acrata_Beta_1Regular</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>styleMapFamilyName</key>
    <string>Acrata_Beta_1 Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
