<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>19</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>xhgt</key>
      <dict>
        <key>position</key>
        <integer>540</integer>
        <key>width</key>
        <integer>19</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>T1</key>
      <dict>
        <key>position</key>
        <integer>790</integer>
        <key>width</key>
        <integer>19</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>E</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>L</string>
    <string>N</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>T</string>
    <string>a</string>
    <string>b</string>
    <string>e</string>
    <string>h</string>
    <string>i</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>q</string>
    <string>r</string>
    <string>u</string>
    <string>I.2</string>
    <string>L.2</string>
    <string>O.2</string>
    <string>I.3</string>
    <string>O.3</string>
    <string>O.alt</string>
    <string>N.2</string>
    <string>U</string>
    <string>ntilde.2</string>
    <string>ntilde</string>
    <string>u.2</string>
    <string>n.2</string>
  </array>
</dict>
</plist>
